<!DOCTYPE html>
<html>
  <head>
    <title>Lecture 4 - Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded navbar-toggleable-md">

      <a class="navbar-brand" href="<%= root_path %>">HOME</a>

      <% if current_user %>
        <li class="nav-item"><a href="<%= logout_path %>">Logout <%= current_user %></a></li>
      <% elsif %>
        <form action="<%= login_path %>" method="POST" class="form-inline float-xs-right">
          <input name="username" class="form-control" type="text" placeholder="Username">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      <% end %>
    </nav>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
